@media screen and (min-width: 1050px) {
	div.footer {
		background-color: #303030;
		padding-top: 80px;
		padding-bottom: 80px;
		.contain {
			display: flex;
			justify-content: space-around;
			width: 90%;
			.col-1 {
				width: 20%;
				.image {
					display: flex;
					justify-content: center;
					img {
						user-select: none;
						width: 200px;
					}
				}
				.reseaux {
					color: #303030;
					margin-top: 5%;
					padding-bottom: 1.2%;
					display: flex;
					justify-content: center;
					div {
						border: 2px solid #f2f2f2;
						border-radius: 500px;
						text-align: center;
						height: 30px;
						width: 30px;
						transition: 0.4s;
						margin: 10px;
						background-color: white;
						display: flex;
						justify-content: center;
					}
					.Icon {
						text-align: center;
						box-sizing: content-box;
						cursor: pointer;
						font-size: 20px;
						padding: 5px;
					}
					.pinterest:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #e5493a 2px;
						color: #e5493a;
					}
					.googleplus:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #e5493a 2px;
						color: #e5493a;
					}
					.facebook:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #4267B2 2px;
						color: #4267B2;
					}
					.instagram:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #852199 2px;
						color: #852199;
					}
				}
			}
			.col {
				margin-top: -15px;
				p {
					user-select: none;
					font-family: Raleway;
					font-size: 28px;
					color: #ffffff;
				}
				ul {
					margin: 0px;
					padding: 0px;
					li {
						list-style: none;
						margin-top: 10px;
						a {
							user-select: none;
							padding-top: 10px;
							font-family: "Playfair Display";
							color: #ffffff;
							margin: 0px;
							cursor: pointer;
							text-decoration: none;
						}
						.email {
							color: #e2574c;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1050px) {
	div.footer {
		background-color: #303030;
		padding-top: 80px;
		padding-bottom: 80px;
		.contain {
			display: block;
			text-align: center;
			width: 100%;
			.col-1 {
				width: 100%;
				.image {
					display: flex;
					justify-content: center;
					img {
						user-select: none;
						width: 200px;
					}
				}
				.reseaux {
					color: #303030;
					margin-top: 5%;
					padding-bottom: 1.2%;
					display: flex;
					justify-content: center;
					div {
						border: 2px solid #f2f2f2;
						border-radius: 500px;
						text-align: center;
						height: 30px;
						width: 30px;
						transition: 0.4s;
						margin: 10px;
						background-color: white;
						display: flex;
						justify-content: center;
					}
					.Icon {
						text-align: center;
						box-sizing: content-box;
						cursor: pointer;
						font-size: 20px;
						padding: 5px;
					}
					.pinterest:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #e5493a 2px;
						color: #e5493a;
					}
					.googleplus:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #e5493a 2px;
						color: #e5493a;
					}
					.facebook:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #4267B2 2px;
						color: #4267B2;
					}
					.instagram:hover {
						background-color: rgba(191, 191, 191, .5);
						border: solid #852199 2px;
						color: #852199;
					}
				}
			}
			.col {
				margin-top: -15px;
				p {
					user-select: none;
					font-family: Raleway;
					font-size: 28px;
					color: #ffffff;
				}
				ul {
					margin: 0px;
					padding: 0px;
					li {
						list-style: none;
						margin-top: 10px;
						a {
							user-select: none;
							padding-top: 10px;
							font-family: "Playfair Display";
							color: #ffffff;
							margin: 0px;
							cursor: pointer;
							text-decoration: none;
						}
						.email {
							color: #e2574c;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}